@using Microsoft.Extensions.Localization
@using OnlineShop.CustomResponses
@using OnlineShop.Model
@using OnlineShop.Services.Contracts
@using System.Drawing
@using System.Reflection

@inject IOrderService _prodService;
@inject IOrderCategoryService _prodCategoryService;
@inject IJSRuntime js;
@inject NavigationManager _navManager;


@if(OrderList != null)
{
    <h3>Orders Page</h3>

    <SfGrid TValue="SalesOrderHeader" DataSource="OrderList" 
        EnableHeaderFocus="true" 
        AllowFiltering=true AllowResizing=true AllowPaging=true AllowSorting=true
        Height="500" Width="100%"
        Toolbar="@(new string[]{"Search"})"
        >
        <GridEvents CommandClicked="OnCommandClicked" OnActionComplete="OnActionComplete" TValue="SalesOrderHeader"></GridEvents>
        <GridEditSettings 
            AllowAdding=true AllowDeleting=true 
            AllowEditing=true AllowEditOnDblClick=true 
            ShowDeleteConfirmDialog="true" Mode="EditMode.Normal"/>
        
        <GridColumns>
            <GridColumn Field="@nameof(SalesOrderHeader.OrderID)" IsPrimaryKey=true AllowAdding=false AllowEditing=false Width="100" IsIdentity=true Visible=false />
            <GridColumn Field="@nameof(SalesOrderHeader.ThumbNailPhoto)" HeaderText="Image" AutoFit=true TextAlign="TextAlign.Left" AllowEditing=false>
                <Template>
                    @{
                        var prod = context as SalesOrderHeader;
                        byte[] bytes = prod.ThumbNailPhoto;
                        string base64String = Convert.ToBase64String(bytes, 0, bytes.Length);
                        var imgSrource = $"data:image/png;base64,{base64String}";
                                <div class="grid-photo">
                                    <img src=@imgSrource class="img-thumbnail" />
                                </div>
                    }
                </Template>   
            </GridColumn>
            <GridColumn Field="@nameof(SalesOrderHeader.Name)" HeaderText="Name" AutoFit=true TextAlign="TextAlign.Left" />
            <GridColumn Field="@nameof(SalesOrderHeader.OrderNumber)" HeaderText="Number" Width="220" TextAlign="TextAlign.Left"/>
            <GridColumn Field="@nameof(SalesOrderHeader.ListPrice)" HeaderText="Price" Format="C2" Width="150" TextAlign="TextAlign.Left"/>
            <GridColumn Field="@nameof(SalesOrderHeader.Color)" HeaderText="Color" Width="150" TextAlign="TextAlign.Left">
                <EditTemplate>
                    @{
                        var prod = context as SalesOrderHeader;
                                <div>
                                    <SfDropDownList DataSource="@ColorList" TItem="Colors" TValue="string" @bind-Value="@prod.Color">
                                        <DropDownListFieldSettings 
                                            Value="ColorName">
                                        </DropDownListFieldSettings>
                                    </SfDropDownList>
                                </div>
                    }
                </EditTemplate>
                
                @*<Template>
                    @{
                        var prod = (context as Order);
                        <div style="color:@prod.Color">
                            @prod.Color
                        </div>  
                    }  
                </Template>*@
            </GridColumn>
            <GridColumn Field="@nameof(SalesOrderHeader.ModifiedDate)" HeaderText="Modified" Format="d" Width="150" TextAlign="TextAlign.Left"/>
            <GridColumn Field="@nameof(SalesOrderHeader.Size)" HeaderText="Size" AutoFit=true TextAlign="TextAlign.Left" />
            <GridForeignColumn Field="@nameof(SalesOrderHeader.OrderCategoryID)" HeaderText="Category" Width="250"
                                           ForeignDataSource="@OrderCategoryList"
                                           ForeignKeyValue="Name"
                                           ForeignKeyField="OrderCategoryID"
                                           AutoFit=true>
            </GridForeignColumn>
            <GridForeignColumn Field="@nameof(SalesOrderHeader.OrderModelID)" HeaderText="Model" Width="250"
                                           ForeignDataSource="@OrderModelList"
                                           ForeignKeyValue="Name"
                                           ForeignKeyField="OrderModelID"
                                           AutoFit=true>
            </GridForeignColumn>
            <GridColumn Field="@nameof(SalesOrderHeader.NumberOfOrders)" HeaderText="Total Orders" AutoFit=true TextAlign="TextAlign.Center" />
            <GridColumn HeaderText="Record Actions" Width="150">
            <GridCommandColumns>
                <GridColumn HeaderText="Details" AllowSorting=false AllowFiltering=false 
                Width="80" TextAlign="TextAlign.Center"
                AllowEditing=false AllowAdding=false AllowSearching=false>
                    <Template>
                        @{
                            var prod = (context as SalesOrderHeader);

                            <SfButton Content="" OnClick="@((args) => ShowProdInfo_Click(args, prod))" IconCss="e-icons e-eye" CssClass="btn e-info"></SfButton>
                        }
                    </Template>
                </GridColumn>
                <GridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-edit", CssClass = "btn e-warning" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-delete", CssClass = "btn e-danger" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Save" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-update", CssClass = "btn e-success" })"></GridCommandColumn>
                <GridCommandColumn Type="CommandButtonType.Cancel" ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-cancel-icon", CssClass = "btn" })"></GridCommandColumn>
            </GridCommandColumns>
         </GridColumn>
        </GridColumns>
               
    </SfGrid>
}
else
{
    <SfSpinner @bind-Visible="@ShowSpinner" Type="@SpinnerType.Bootstrap">
        Please Wait ...    
    </SfSpinner>
}

<SfDialog Width="auto" Height="auto" ShowCloseIcon="true" @bind-Visible="@prodInfoVisible">
    <DialogTemplates>
        <Header> <b>Order Name:</b> @selectedOrder.Name  <b>Order ID:</b> @selectedOrder.OrderID </Header>
        <Content> 
            <Order_Info Order="@selectedOrder" OrderCategoryList="@OrderCategoryList" OrderModelList="@OrderModelList" CloseOrderInfoDialog="@CloseprodInfo" />
        </Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="DialogEffect.Zoom" Duration=600 />
    <DialogButtons>
        <DialogButton Content="Hide" IsPrimary="true" OnClick="@CloseprodInfo" />
    </DialogButtons>
</SfDialog>

<style>
    
</style>

@code {
    public List<SalesOrderHeader> OrderList { get; set; }

    private bool prodInfoVisible { get; set; } = false;

    public SalesOrderHeader selectedOrder { get; set; } = new SalesOrderHeader();

    public List<Colors> ColorList { get; set; }

    public bool ShowSpinner { get; set; } = true;

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        await GetOrders();
        await GetOrderCategories();
        await GetOrderModels();

        ColorList = GetAllColors();
    }

    private async Task GetOrders()
    {
        prodResponse = await _prodService.Take(100);
        if(prodResponse.Status)
        {
            OrderList = prodResponse.Orders;
            StateHasChanged();
        }
        else
        {
            await js.InvokeVoidAsync("alert", prodResponse.Message);
        }
    }

    private async Task GetOrderCategories()
    {
        OrderCategoryResponse OrderCategoryResponse = new OrderCategoryResponse();

        OrderCategoryResponse = await _prodCategoryService.GetOrderCategories();
        if(OrderCategoryResponse.Status)
        {
            OrderCategoryList = OrderCategoryResponse.OrderCategories;
        }
        else
        {
            await js.InvokeVoidAsync("alert", OrderCategoryResponse.Message);
        }
    }

    private async Task GetOrderModels()
    {
        OrderModelResponse OrderModelResponse = new OrderModelResponse();

        OrderModelResponse = await _prodService.GetModels();
        if(OrderModelResponse.Status)
        {
            OrderModelList = OrderModelResponse.OrderModels;
        }
        else
        {
            await js.InvokeVoidAsync("alert", OrderModelResponse.Message);
        }
    }

    public async void ShowProdInfo_Click(MouseEventArgs args, Order prod)
    {
        selectedOrder = prod;
        prodInfoVisible = true;
    }

    private List<Colors> GetAllColors()
    {
        List<Colors> allColors = new List<Colors>();
        Type colorType = typeof(System.Drawing.Color);
        PropertyInfo[] propInfos = colorType.GetProperties(BindingFlags.Static | BindingFlags.DeclaredOnly | BindingFlags.Public);
        foreach (PropertyInfo propInfo in propInfos) 
        {

            allColors.Add(new Colors{ColorName = propInfo.Name });
        }

        return allColors;
    }

    public class Colors
    {
        public string ColorName { get; set; }
    }

    private void OnCommandClicked(CommandClickEventArgs<Order> args) => selectedOrder = args.RowData;

    public async void OnActionComplete(ActionEventArgs<Order> arg)
    {
        //Handles save operation
        if (arg.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            prodResponse = await _prodService.Update(arg.Data);
            await js.InvokeVoidAsync("alert", prodResponse.Message);
        }
        //Handles delete operation
        if (arg.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            prodResponse = await _prodService.Remove(arg.Data.OrderID);
            await js.InvokeVoidAsync("alert", prodResponse.Message);
        }
    }

    private void OpenprodInfo()
    {
        this.prodInfoVisible = true;
    }

    private void CloseprodInfo()
    {
        this.prodInfoVisible = false;
        GetOrders();
    }
}
