@using OnlineShop.CustomResponses;
@using OnlineShop.Model;
@using OnlineShop.Services.Contracts;
@using Syncfusion.Blazor.Cards;

@inject NavigationManager _navManager;
@inject IProductService _prodService;
@inject IProductCategoryService _prodCategoryService;
@inject IJSRuntime js;
@inject NavigationManager _navManager;

<div class="row text-center">
    <h3>@pageHeader</h3>
</div>

@if(ParametersSet)
{
    <EditForm Model="@product" OnSubmit="AddProductSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row col-md-12 m-3">
        <div class="row m-1 p-1">
            <div class="col col-md-7">
                    @{
                        byte[] bytes = product.ThumbNailPhoto;
                        if(bytes != null)
                        {
                            string base64String = Convert.ToBase64String(bytes, 0, bytes.Length);
                            imgSrc = $"data:image/png;base64,{base64String}";
                        }
                        <SfCard>
                            <CardHeader SubTitle="@product.ThumbnailPhotoFileName"></CardHeader>
                            <CardContent>
                                <div class="photo">
                                    <img src=@imgSrc class="img-thumbnail" />
                                </div>
                            </CardContent>
                            <CardFooter>
                            <div class="input-group">
                                <div class="row m-2">
                                    <div>
                                    @if(EditProduct)
                                        {
                                            <InputFile OnChange="@OnFileSelection" accept=".jpg,.png"></InputFile>
                                        }
                                    </div>
                                </div>
                            </div>
                            </CardFooter>
                        </SfCard>
                    }
            </div>
            <div class="col col-md-3">
                <SfColorPicker Disabled="@(!EditProduct)" @bind-Value="@product.Color" Selected="@((arg) => product.Color = arg.CurrentValue.Rgba)"> Product Color</SfColorPicker>
            </div>
            </div>
            <div class="col col-md-6 col-sm-12">
            <div class="row m-1 p-1">
                <SfTextBox Placeholder="Product Name" @bind-Value="@product.Name" Enabled="@EditProduct" FloatLabelType="FloatLabelType.Auto" />
            </div>
            <div class="row m-1 p-1">
                <SfTextBox Placeholder="Product Number" @bind-Value="@product.ProductNumber" Enabled="@EditProduct" FloatLabelType="FloatLabelType.Auto" />
            </div>
            <div class="row m-1 p-1">
                <SfNumericTextBox TValue="decimal" Placeholder="Product Price" @bind-Value="@product.ListPrice" Enabled="@EditProduct" FloatLabelType="FloatLabelType.Auto" />
            </div>
            <div class="row m-1 p-1">
                <SfNumericTextBox TValue="decimal" Placeholder="Standard Cost" @bind-Value="@product.StandardCost" Enabled="@EditProduct" FloatLabelType="FloatLabelType.Auto" />
            </div>
            <div class="row m-1 p-1">
                <SfTextBox Placeholder="Product Size" @bind-Value="@product.Size" Enabled="@EditProduct" FloatLabelType="FloatLabelType.Auto" />
            </div>
            <div class="row m-1 p-1">
                <SfNumericTextBox TValue="decimal?" Placeholder="Product Weight" @bind-Value="@product.Weight" Enabled="@EditProduct" FloatLabelType="FloatLabelType.Auto" />
            </div>
        </div>
            <div class="col col-md-6 col-sm-12">
            <div class="row m-1 p-1">
                <SfDropDownList AllowFiltering=true Placeholder="Product Category" DataSource="@productCategoryList" Enabled="@EditProduct" TItem="ProductCategory" FloatLabelType="FloatLabelType.Auto" TValue="int?" @bind-Value="@product.ProductCategoryID">
                <DropDownListFieldSettings Value="ProductCategoryID" Text="Name">
                    </DropDownListFieldSettings>
                </SfDropDownList>
            </div>
            <div class="row m-1 p-1">
                <SfDropDownList AllowFiltering=true Placeholder="Product Model" DataSource="@productModelList" Enabled="@EditProduct" TItem="ProductModel" TValue="int?" FloatLabelType="FloatLabelType.Auto" @bind-Value="@product.ProductModelID">
                    <DropDownListFieldSettings Value="ProductModelID" Text="Name">
                    </DropDownListFieldSettings>
                </SfDropDownList>
            </div>
            <div class="row m-1 p-1">
                <SfDatePicker Placeholder="Product Sell StartDate" @bind-Value="@product.SellStartDate" Enabled="@EditProduct" FloatLabelType="FloatLabelType.Auto" />
            </div>
            <div class="row m-1 p-1">
                <SfDatePicker TValue="DateTime?" Placeholder="Product Sell EndDate" @bind-Value="@product.SellEndDate" Enabled="EditProduct" FloatLabelType="FloatLabelType.Always" />
            </div>
            <div class="row m-1 p-1">
                <SfDatePicker TValue="DateTime?" Placeholder="Product Sell Discontinued Date" @bind-Value="@product.DiscontinuedDate" Enabled="EditProduct" FloatLabelType="FloatLabelType.Always" />
            </div>
            <div class="row m-1 p-1">
                <SfDatePicker TValue="DateTime" Placeholder="Product Modified Date" @bind-Value="@product.ModifiedDate" Enabled=false ValidateOnInput=true FloatLabelType="FloatLabelType.Always" />
            </div>
        </div>
        </div>
        <div class="row buttons-row">
            <div class="col col-md-3">
                @if (EditProduct)
                {
                    <SfButton Content="Save Product" CssClass="e-success" />
                }
            </div>
        </div>
</EditForm>
    <div class="row justify-content-center">
        @if (!EditProduct)
        {
            <div class="col col-md-3 m-1">
                <SfButton Content="Edit Product" CssClass="e-warning" OnClick="@(() => EditProduct = !EditProduct)" />
            </div>

            <div class="col col-md-3 m-1">
                <SfButton Content="Delete Product" CssClass="e-danger" OnClick="@(() => deleteProductConfirmationVisible = true)" />
            </div>
        }
        <div class="col col-md-3 m-1">
            <SfButton Content="Back To List" CssClass="e-info" OnClick="@(() => _navManager.NavigateTo("Products"))" />
        </div>
    </div>
}
else
{
    <SfSpinner @bind-Visible="@ShowSpinner" Type="@SpinnerType.Bootstrap">
        Please Wait ...
    </SfSpinner>
}

<SfDialog Width="auto" Height="auto" ShowCloseIcon="true" @bind-Visible="@deleteProductConfirmationVisible">
    <DialogTemplates>
        <Header> Confirm To delete Product !!! </Header>
        <Content>
            Do you really want to delete Product?
        </Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="DialogEffect.Zoom" Duration=600 />
    <DialogButtons>
        <DialogButton Content="Delete" CssClass="e-warning" OnClick="@ConfirmDelete" />
        <DialogButton Content="Cancel" CssClass="e-warning" OnClick="@(() => deleteProductConfirmationVisible = false)" />
    </DialogButtons>
</SfDialog>

<style>
    .buttons-row{
        margin:5px;
        padding: 10px;
    }
</style>

@code {
    [Parameter]
    public List<ProductModel> productModelList { get; set; }
    [Parameter]
    public List<ProductCategory> productCategoryList { get; set; }
    [Parameter]
    public Product product { get; set; }
    [Parameter]
    public EventCallback CloseProductInfoDialog { get; set; }

    public Product productBeforeUpdate { get; set; }
    public string pageHeader { get; set; } = "Product Details";

    public bool EditProduct { get; set; } = false;
    public bool deleteProductConfirmationVisible { get; set; } = false;
    public bool ShowSpinner { get; set; } = true;
    public bool ParametersSet { get; set; } = false;
    public bool IsNewProduct { get; set; } = false;

    public string imgUrl { get; set; } = string.Empty;
    public string imgSrc { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (product != null)
        {
            productBeforeUpdate = product;

        }
        else
        {
            product = new Product();
            EditProduct = true;
            IsNewProduct = true;
            pageHeader = "Add Product";
        }
        ParametersSet = true;
        StateHasChanged();
    }

    private async void AddProductSubmit(EditContext context)
    {
        var prodResponse = await _prodService.ProdNameExists(product.Name);
        if(prodResponse != null && prodResponse.Status)
        {
            if(context.Validate())
            {
                if (!IsNewProduct)
                {
                    var response = await _prodService.Update(product);
                    await js.InvokeVoidAsync("alert", response.Message);
                    if (!response.Status)
                    {
                        product = productBeforeUpdate;
                    }
                    else
                    {
                        EditProduct = false;
                    }
                    StateHasChanged();
                }
                else
                {
                    var response = await _prodService.Create(product);
                    await js.InvokeVoidAsync("alert", response.Message);
                    if (!response.Status)
                    {
                        product = productBeforeUpdate;
                    }
                    else
                    {
                        EditProduct = false;
                    }
                    StateHasChanged();
                }
            }
        }
        else if(prodResponse != null && !prodResponse.Status)
        {
            await js.InvokeVoidAsync("alert","Product With The same name exists");
        }
    }

    private async void ConfirmDelete()
    {
        var response = await _prodService.Remove(product.ProductID);
        await js.InvokeVoidAsync("alert", response.Message);
        if (response.Status)
        {
            await CloseProductInfoDialog.InvokeAsync();
            StateHasChanged();
        }
        deleteProductConfirmationVisible = false;
    }

    string[] imageTypes = new[] { "image.jpeg", "image/png" };
    private async Task OnFileSelection(InputFileChangeEventArgs e)
    {
        if (imageTypes.Contains(e.File.ContentType))
        {
            var resized = await e.File.RequestImageFileAsync(e.File.ContentType, 300, int.MaxValue);
            var buffers = new byte[resized.Size];
            await resized.OpenReadStream().ReadAsync(buffers);
            product.ThumbNailPhoto = buffers;
            string imageType = resized.ContentType;
            imgUrl = $"data:{imageType};base64,{Convert.ToBase64String(buffers)}";
        }
        StateHasChanged();
    }
}
